.app {
  background: #25c27a;
  padding: 30px;
  height: 100vh;
}

.todo-block {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  margin: auto;
}


.todo-list {
  max-height: 300px;
  overflow-y: scroll;
}



.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: 0px;
  text-align: center;
  margin: 0px 2px;
  border-radius: 4px;
  line-height: 22px;
  cursor: pointer;
  outline: none;
}

button.complete-todo {
  background: #25c27a;
  color: #fff;
  min-width: 80px;
}

button.delete-todo {
  background: #e91e63;
  color: #fff;
}


